<%= form_with(model: seeker_skill_set, local: true) do |form| %>
  <% if seeker_skill_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seeker_skill_set.errors.count, "error") %> prohibited this seeker_skill_set from being saved:</h2>

      <ul>
      <% seeker_skill_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_account_id %>
    <%= form.text_field :user_account_id %>
  </div>

  <div class="field">
    <%= form.label :skill_set_id %>
    <%= form.text_field :skill_set_id %>
  </div>

  <div class="field">
    <%= form.label :skill_level %>
    <%= form.text_field :skill_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
