<%= form_with(model: business_stream, local: true) do |form| %>
  <% if business_stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_stream.errors.count, "error") %> prohibited this business_stream from being saved:</h2>

      <ul>
      <% business_stream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :business_stream_name %>
    <%= form.text_field :business_stream_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
