<%= form_with(model: seeker_profile, local: true) do |form| %>
  <% if seeker_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seeker_profile.errors.count, "error") %> prohibited this seeker_profile from being saved:</h2>

      <ul>
      <% seeker_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :current_salary %>
    <%= form.text_field :current_salary %>
  </div>

  <div class="field">
    <%= form.label :is_annually_monthly %>
    <%= form.text_field :is_annually_monthly %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
