<%= form_with(model: company_image, local: true) do |form| %>
  <% if company_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_image.errors.count, "error") %> prohibited this company_image from being saved:</h2>

      <ul>
      <% company_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :company_image %>
    <%= form.text_field :company_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
